In [22]:
import pandas

In [37]:
ds = pandas.read_csv('Datasheets/Maternal Health Risk Data Set.csv')

In [45]:
ds.head()

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86  high risk
1   35         140           90  13.0      98.0         70  high risk
2   29          90           70   8.0     100.0         80  high risk
3   30         140           85   7.0      98.0         70  high risk
4   35         120           60   6.1      98.0         76   low risk

In [46]:
ds.shape

(1014, 7)

In [47]:
ds.isnull().sum()

Age            0
SystolicBP     0
DiastolicBP    0
BS             0
BodyTemp       0
HeartRate      0
RiskLevel      0
dtype: int64

# Encodding:

# Normal Encodding

In [48]:
ds.RiskLevel.unique()

array(['high risk', 'low risk', 'mid risk'], dtype=object)

In [68]:
ds.RiskLevel = ds.RiskLevel.replace(['high risk', 'low risk', 'mid risk'], [3, 2, 1])

In [69]:
ds.head()

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86          0
1   35         140           90  13.0      98.0         70          0
2   29          90           70   8.0     100.0         80          0
3   30         140           85   7.0      98.0         70          0
4   35         120           60   6.1      98.0         76          1

# Label Encoding

In [61]:
ds = pandas.read_csv('Datasheets/Maternal Health Risk Data Set.csv')

In [63]:
from sklearn.preprocessing import LabelEncoder

In [64]:
label = LabelEncoder()

In [65]:
ds.RiskLevel = label.fit_transform(ds.RiskLevel)

In [67]:
ds.head()

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86          0
1   35         140           90  13.0      98.0         70          0
2   29          90           70   8.0     100.0         80          0
3   30         140           85   7.0      98.0         70          0
4   35         120           60   6.1      98.0         76          1

# One Hot Encoding

In [70]:
ds = pandas.read_csv('Datasheets/Maternal Health Risk Data Set.csv')

In [72]:
ds.head()

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86  high risk
1   35         140           90  13.0      98.0         70  high risk
2   29          90           70   8.0     100.0         80  high risk
3   30         140           85   7.0      98.0         70  high risk
4   35         120           60   6.1      98.0         76   low risk

In [80]:
dummy_variables = pandas.get_dummies(ds.RiskLevel)

In [91]:
new_ds = ds.drop('RiskLevel', axis=1)

In [92]:
new_ds

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate
0      25         130           80  15.0      98.0         86
1      35         140           90  13.0      98.0         70
2      29          90           70   8.0     100.0         80
3      30         140           85   7.0      98.0         70
4      35         120           60   6.1      98.0         76
...   ...         ...          ...   ...       ...        ...
1009   22         120           60  15.0      98.0         80
1010   55         120           90  18.0      98.0         60
1011   35          85           60  19.0      98.0         86
1012   43         120           90  18.0      98.0         70
1013   32         120           65   6.0     101.0         76

[1014 rows x 6 columns]