In [67]:
import pandas
import matplotlib.pyplot as plt
import seaborn as sb
import numpy as np

In [68]:
ds = pandas.read_csv('Datasheets/Maternal Health Risk Data Set.csv')

In [69]:
ds.shape

(1014, 7)

In [70]:
ds.head()

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86  high risk
1   35         140           90  13.0      98.0         70  high risk
2   29          90           70   8.0     100.0         80  high risk
3   30         140           85   7.0      98.0         70  high risk
4   35         120           60   6.1      98.0         76   low risk

In [73]:
for i in ds:
    if ds[i].dtype == np.number:
        print(ds[i].mean())

TypeError: cannot create 'numpy.number' instances